* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: rgb(108, 182, 252);
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
}

h1{
    border: 5px;
    border-radius: 5px;
    background-color: rgb(50, 127, 199); 
    text-align: center;
    color: white;
    padding: 10px;
}

.main {
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 10px;
    border-radius: 5px;
    padding: 10px;
}